APP_PORT=8080

POSTGRES_DB=cloudapp
POSTGRES_USER=cloudapp
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

DB_URL=jdbc:postgresql://localhost:5432/cloudapp
DB_USER=cloudapp
DB_PASSWORD=change-me

REDIS_HOST=localhost
REDIS_PORT=6379

CLOUDAPP_STORAGE_ROOT=storage

MAX_FILE_SIZE=25MB
MAX_REQUEST_SIZE=30MB

VIRUS_SCAN_ENABLED=false
VIRUS_SCAN_BASE_URL=https://api.usebouncer.dev
VIRUS_SCAN_REFRESH_DELAY=10000
BOUNCER_API_KEY=
